<template id="problem-form">
    <div class="mx-auto w-100" style="width: 18rem;">

        <form @submit.prevent="">
            <div class="form-group">
                <label for="problemClass">problem class</label>
                <select v-model="problemData.name" id="problemClass" class="form-control">
                    <option>Select a problem</option>
                    <option>dslr</option>
                    <option>dsqcqp</option>
                </select>

            </div>
            <div class="form-group">
                <label for="vars">Number of variables</label>
                <input v-model="problemData.nVars" type="number" class="form-control" id="vars" min="1">
            </div>

            <div  v-if="problemData.name === 'dslr' "  class="form-group">
                <label for="samples">Number of samples (local) </label>
                <input v-model="problemData.nSamples" type="number" class="form-control" id="samples" min="1">
            </div>


            <div class="form-group">
                <label for="nZeros">Number of non-zeros</label>
                <input v-model="problemData.nZeros" type="number" class="form-control" id="nZeros" min="1">
            </div>


            <div class="form-group">
                <label for="nodes">Number of nodes</label>
                <input v-model="problemData.nNodes" type="number" class="form-control" id="nodes" min="1">
            </div>
            <div class="form-group form-check">
                <input v-model="problemData.sfp" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">feasibility pump</label>
            </div>
            <div class="form-group form-check">
                <input v-model="problemData.soc" type="checkbox" class="form-check-input" id="soc">
                <label class="form-check-label" for="soc">second order cuts</label>
            </div>
            <label for="compare">compare to</label>
            <select multiple v-model="solvers" id="compare" class="form-control">
                <option>Select a solver</option>
                <option>bonmin</option>
                <option>bonminh</option>
                <option>knitro</option>
                <option>alphaecp</option>
                <option>dicopt</option>
            </select>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary">Reset</button>
                <button @click="onSave" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </form>
    </div>

</template>
