<template id="login">

    <div  v-if="!loggedIn" class="row" >
        <div class="col">
            <form class="form-signin" @submit.prevent="loginSubmit">
                <img class="mb-4 img-class" src="https://www.iconsdb.com/icons/preview/green/ppc-optimization-xxl.png"
                     alt=""
                     width="72" height="72">
                <h4 class="h4 mb-3 font-weight-normal">cardOPT</h4>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input v-model="loginInfo.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input v-model="loginInfo.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
            </form>
        </div>
    </div>


</template>
